<h1>
    <%= @article.title %>
</h1>
<p>
    <%= @article.body %>
</p>

<ul>
    <li><%= link_to "Edit", edit_article_path(@article) %></li>
    <li><%= link_to "Destroy", article_path(@article), data: {
        turbo_method: :delete,
        turbo_confirm: "Are you sure?"
    } %></li>
</ul>

<h2>Email Events</h2>
<% @article.events.each do |event| %>
    <hr/>
    <p>
    <strong>Email:</strong>
    <%= event.email %>
    </p>

    <p>
    <strong>Id:</strong>
    <%= event.event %>
    </p>
<% end %>

